html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

#body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
    width: 100vw;            
    background-color: #FFE9E9; 
    margin: 0;
    padding: 0;
    color: black;
}

.main {
    width: 100%;
    max-width: 380px; 
    padding: 30px 40px;
    background-color: white; 
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.logo {
    width: 200px;
    margin: 0 auto
}

.campos_form {
    align-items: flex-start;
}

.input {
    width: 100%;
}

.botao_enviar {
    max-width: 100px;
    min-width: 100px;
    background-color: red;
}