.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    width: 100%;
    color: black;
    background-color: #F9FAFB;
    height: 100vh;
    margin-top: 5px;
}

.container h1 {
    font-size: 1.6em;
    background-color: #F9FAFB;
    margin-left: 15px;
    width: auto;
}

.container .container_header {
    background-color: #F9FAFB;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.container .container_header .box_selecao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    width: 100%;
    padding: 25px;
    border-radius: 15px;
}

.container .container_header .box_selecao select {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.container .container_header .box_selecao option {
    color: black;
}

.container .cards_container {
    background-color: #F9FAFB;
    max-width: 100%;
    box-shadow: 0 0 0 0;
    display: flex;
    flex-direction: row;          
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 20px;   
}

.container .cards_container .cards {
    width: 220px;
    height: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    margin-bottom: 30px;
}

.container .cards_container .cards h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.container .cards_container .cards p {
    font-size: 2em;
    font-weight: 600;
}

.container .card_detalhes {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 30px;
    height: 300px;
}

.container .card_detalhes .cardContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 300px;
}

.container .card_detalhes .cardContent .totReceitas {
    color: green;
    margin-left: 5px;
}

.container .card_detalhes .cardContent .totDespesas {
    color: red;
    margin-left: 5px;
}